body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    background-color: blue;
    width: 300px;
    height: 300px;
    position: absolute;
    transition-duration: 2s;

}

div:hover {
    background-color: red;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    box-shadow: 0px 0px 11px 14px rgb(159, 99, 228);
}